<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 统一管理各个模块配置 -->

    <!-- import 从同级目录查找文件 -->
	<import resource="jdbc/dbConfig.xml" 			/>	<!-- JDBC 			-->
	<import resource="mybatis/beans-mybatis.xml" 	/> 	<!-- mybatis 		-->
 	<!-- <import resource="quartz/quartz.xml"			/> --> 	<!-- quartz定时器	 -->

</beans>